---
layout: default
noToolbar: true
nestedPath: "../"
---

<div class="vic-grid">
  <div class="vic-grid-row">
    <ul class="vic-lsg-link-list vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4">
      <li>
        {{> vic-e-link 
          linkLabel="Link w/o Icon"
          linkHref="//google.de"
        }}
      </li>
      <li>
        {{> vic-e-link 
          linkLabel="Disabled Link w/o Icon"
          disabled=true
          linkHref="//google.de"
        }}
      </li>
    </ul>
    <ul class="vic-lsg-link-list vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4">
      <li>
        {{> vic-e-link 
          linkLabel="Link w/ icon right"
          linkIcon="vic-icon-chevron-left"
          linkHref="//google.de"
        }}
      </li>
      <li>
        {{> vic-e-link 
          linkLabel="Disabled Link w/ icon right"
          linkIcon="vic-icon-chevron-left"
          disabled=true
          linkHref="//google.de"
        }}
      </li>
      <li>
        {{> vic-e-link 
          linkLabel="Link w/ icon right and a very looooong label"
          linkIcon="vic-icon-chevron-left"
          linkHref="//google.de"
        }}
      </li>
    </ul>
    <ul class="vic-lsg-link-list vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-3">
      <li>
        {{> vic-e-link 
          linkLabel="Link w/ icon left"
          linkIconLeft=true
          linkIcon="vic-icon-chevron-right"
          linkHref="//google.de"
        }}
      </li>
      <li>
        {{> vic-e-link 
          linkLabel="Disabled Link w/ icon left"
          linkIconLeft=true
          disabled=true
          linkIcon="vic-icon-chevron-right"
          linkHref="//google.de"
        }}
      </li>
      <li>
        {{> vic-e-link 
          linkLabel="Link w/ a very looooong label and a icon left"
          linkIconLeft=true
          linkIcon="vic-icon-chevron-right"
          linkHref="//google.de"
        }}
      </li>
    </ul>
  </div>
</div>