// LSG-Color-Group
// Group-Name: Black/White
$vic-color__white: #fff;
$vic-color__black-0025: #fcfcfc;
$vic-color__black-005: #fafafa;
$vic-color__black-000: #f6f6f6;
$vic-color__black-010: #f0f0f0;
$vic-color__black-020: #dedede;
$vic-color__black-030: #d0d0d0;
$vic-color__black-035: #9d9d9d;
$vic-color__black-040: #858585;
$vic-color__black-050: #545454;
$vic-color__black-060: #404040;
$vic-color__black-070: #353535;
$vic-color__black-080: #242424;
$vic-color__black-090: #000;

// LSG-Color-Group
// Group-Name: Red
$vic-color__red-0025: #fffaf9;
$vic-color__red-005: #fff5f3;
$vic-color__red-000: #ffece8;
$vic-color__red-010: #ffd8d1;
$vic-color__red-020: #ffb2a2;
$vic-color__red-030: #ff8b74;
$vic-color__red-040: #ff6545;
$vic-color__red-050: #ff3e17;
$vic-color__red-060: #de2500;
$vic-color__red-070: #a71c00;
$vic-color__red-080: #6f1300;
$vic-color__red-090: #380900;

// LSG-Color-Group
// Group-Name: Green
$vic-color__green-010: #effcd0;
$vic-color__green-020: #ddf9a3;
$vic-color__green-030: #bfed72;
$vic-color__green-040: #9fdb4d;
$vic-color__green-050: #75c41b;
$vic-color__green-060: #5ba813;
$vic-color__green-070: #458d0d;
$vic-color__green-080: #317108;
$vic-color__green-090: #235e05;
$vic-color__eco-green: #0ba200;

// LSG-Color-Group
// Group-Name: Error
$vic-color__error-010: #fde9d6;
$vic-color__error-020: #fbcdad;
$vic-color__error-030: #f5a883;
$vic-color__error-040: #ec8562;
$vic-color__error-050: #e05132;
$vic-color__error-060: #c03424;
$vic-color__error-070: #a11c19;
$vic-color__error-080: #810f15;
$vic-color__error-090: #6b0915;

// LSG-Color-Group
// Group-Name: Warning
$vic-color__warning-010: #fef5cc;
$vic-color__warning-020: #fee899;
$vic-color__warning-030: #fdd766;
$vic-color__warning-040: #fbc640;
$vic-color__warning-050: #f9ab02;
$vic-color__warning-060: #d68c01;
$vic-color__warning-070: #b36f01;
$vic-color__warning-080: #905500;
$vic-color__warning-090: #774200;

// LSG-Color-Group
// Group-Name: Pending
$vic-color__pending-010: #c9fbf1;
$vic-color__pending-020: #94f8ec;
$vic-color__pending-030: #5deae4;
$vic-color__pending-040: #35cfd5;
$vic-color__pending-050: #00a4ba;
$vic-color__pending-060: #00809f;
$vic-color__pending-070: #006085;
$vic-color__pending-080: #00456b;
$vic-color__pending-090: #003259;
