/**
 * Z-Indices
 */

$z-index__floating-cta: 5;
$z-index__header: 10;
$z-index__overlay: 10;
$z-index__filter-flyout: 15;
$z-index__navigation: 20;
$z-index__toast: 25;

$vic-box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
$HIDDEN: ".vic-state-hidden";
$LOADED: ".vic-state-loaded";

$vic-header-height: 92px;
