.vic-lsg-colors {
  padding: 10px 15px;

  &__colors {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 20px;
  }

  &__color {
    display: block;
    flex-grow: 1;
  }

  &__color-tile {
    position: relative;
    display: block;
    height: 150px;

    &:hover {
      cursor: pointer;

      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: attr(data-hex-value);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $vic-color__white;
      background: rgba($color: $vic-color__black-060, $alpha: 0.6);
      opacity: 0;
      text-align: center;
      line-height: 150px;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__colors-name {
    text-align: center;
    cursor: pointer;
  }
}
