---
layout: default
---

<vic-lsg-toolbar>
  <p class="vic-lsg-toolbar__mq-label"></p>
  <div class="vic-lsg-toolbar__controls">
    <div class="vic-lsg-toolbar__toggle-box">
      <input type="checkbox" class="vic-lsg-toolbar__toggle-input vic-lsg-toolbar__toggle-input--grid-overlay" id="grid-overlay-visible">
      <label for="grid-overlay-visible">Grid Overlay</label>
    </div>
  </div>
</vic-lsg-toolbar>