---
layout: default
---

<div class="vic-lsg-grid-demo">
  <div class="vic-grid">
    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-12">
        <small>
          MQ1 - 12 col
        </small>
      </div>
    </div>
    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-11">
        <small>
          MQ1 - 11 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-10">
        <small>
          MQ1 - 10 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-9">
        <small>
          MQ1 - 9 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-3">
        <small>
          MQ1 - 3 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-8">
        <small>
          MQ1 - 8 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-4">
        <small>
          MQ1 - 4 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-7">
        <small>
          MQ1 - 7 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-5">
        <small>
          MQ1 - 5 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-6">
        <small>
          MQ1 - 6 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-6">
        <small>
          MQ1 - 6 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-5">
        <small>
          MQ1 - 5 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-7">
        <small>
          MQ1 - 7 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-4">
        <small>
          MQ1 - 4 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-8">
        <small>
          MQ1 - 8 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-3">
        <small>
          MQ1 - 3 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-9">
        <small>
          MQ1 - 9 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-10">
        <small>
          MQ1 - 10 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-11">
        <small>
          MQ1 - 11 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-1">
        <small>
          MQ1 - 1 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-2">
        <small>
          MQ1 - 2 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-3">
        <small>
          MQ1 - 3 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-3">
        <small>
          MQ1 - 3 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-3">
        <small>
          MQ1 - 3 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-3">
        <small>
          MQ1 - 3 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-4">
        <small>
          MQ1 - 4 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-4">
        <small>
          MQ1 - 4 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-4">
        <small>
          MQ1 - 4 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-6">
        <small>
          MQ1 - 6 col
        </small>
      </div>
      <div class="vic-grid-col-mq1-6">
        <small>
          MQ1 - 6 col
        </small>
      </div>
    </div>

    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-6 vic-grid-offset-mq1-6">
        <small>
          MQ1 - 6 col (offset 6 col)
        </small>
      </div>
    </div>
  </div>
</div>