---
layout: default
---
<div class="vic-lsg-grid-demo vic-lsg-grid-demo--responsive">
  <div class="vic-grid">
    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
      <div class="vic-grid-col-mq1-12 vic-grid-col-mq2-6 vic-grid-col-mq3-4 vic-grid-col-mq4-3">
        <small>MQ1 - 12 col</small>
        <small>MQ2 - 6 col</small>
        <small>MQ3 - 4 col</small>
        <small>MQ4 - 3 col</small>
        </small>
      </div>
    </div>
  </div>
</div>