---
layout: default
---

<vic-e-target-group-switch class="vic-e-target-group-switch" role="button" tabindex="0">
  <span class="vic-e-target-group-switch__option">Homeowners</span>
  <span class="vic-e-target-group-switch__option">Professionals</span>
</vic-e-target-group-switch>