---
layout: default
nestedPath: "../"
noToolbar: true
---

{{#pv-icons "resources/icons/" "vic-icon" this}}
  <span style="width: 100px; height: 100px; background: #f5f5f5; margin: 2px; display: inline-block; cursor: pointer;" onclick="copyToClipboard('{{this.id}}', 'icon-id')" title="Copy icon-id to Clipboard!">
    <vic-e-icon class="vic-e-icon" icon-id="{{this.id}}"></vic-e-icon>
  </span>
{{/pv-icons}}