<div class="vic-lsg-grid-overlay">
  <div class="vic-grid">
    <div class="vic-grid-row">
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
      <div class="vic-grid-col-mq1-6 vic-grid-col-mq2-1"></div>
    </div>
  </div>
</div>